<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">

      <div class="col-md-6 d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center"><span><i class="bi bi-calendar3 p-2 fs-2"></i></span><span
            class="fw-bold fs-6">Car Booking</span></a>
        <span class="fs-2 fw-bold ms-3">Calendar</span>
      </div>

      <div class="col-md-6 d-flex justify-content-end align-items-center gap-3">
        <button class="btn btn-primary">
          <span class="fw-bold text-white">+</span> Add Booking
        </button>
        <a href="#" class="text-dark"><i class="bi bi-bell fs-4"></i></a>
        <a href="#" class="text-dark"><i class="bi bi-chat-square-text fs-4"></i></a>

        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle fs-3"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<app-master></app-master>